<%= render :layout => 'perc_mailer/title' do %>
  <%= game_tomorrow(@game) %> &ndash; <%= game_state(@game, true) %>
<% end %>


<%= render :layout => 'perc_mailer/subtitle' do %>
  <%= game_introduction(@user, @game) %>
<% end %>
<%= render :layout => 'perc_mailer/message' do %>
  <%= player_state(@game, true) %>
<% end %>
<%= render :layout => 'perc_mailer/error' do %>
  <span>3 more players are needed to field <strong><%= @team[:name] %></strong>.</span>
<% end %>

<%= render 'perc_mailer/btn', :verb => :view %>