<tr class="season_ticket_title">
	<td valign="top">
	  <table width="528px" align="center">
	    <tbody>
	      <tr>
         	<td class="">
        	  <%= image_tag 'emails/text_imge_season_ticket_420x60.gif', :size => '420x60', 
                      :alt => "Season Ticket",  :align => 'center' %>
        	</td>
        </tr>
      </tbody>
    </table>
	</td>
</tr>

<tr class="season_ticket">
	<td valign="top">
	  <table width="528px" align="center">
	    <tbody>
        <tr>
          <td class="team_name">
	          <h1><%= @team[:name] %></h1>
	        </td>
        </tr>
        <tr>
          <td class="roster">
            <% @players[0..4].each do |player| %>
              <%= image_tag facebook_avatar_url(player[:facebook_id]),
                    :alt => player[:name], :size => '48x48', :align => :center %>
            <% end %>
            <% if @players.length > 5 %>
  	          <div>+<%= @players.length - 5 %> more</div>
	          <% end %>
	        </td>
        </tr>
	      <tr>
	        <td class="meta" >
	          <div>This is your season ticket for <strong><%= @team[:name] %></strong>. Join this team to stay on top of upcoming games, confirm players, and get reminders.</div>
	        </td>
        </tr>
        <%= render 'perc_mailer/btn', :verb => :join, :team => @team %>
      </tbody>
    </table>
	</td>
</tr>

<tr class="season_ticket_title">
	<td valign="top">
	  <table width="528px" align="center">
	    <tbody>
	      <tr>
         	<td class="">
           	<div class="subtext">Pro tip: Forward this email to your teammates so they can join the team as well.</div>
        	</td>
        </tr>
      </tbody>
    </table>
	</td>
</tr>