<%- content_for :stylesheet_tags do -%>
  <%= stylesheet_link_tag 'email.css' %>
<%- end -%>

<%- content_for :base_content do %>
  <table cellspacing="0" border="0" cellpadding="0" width="100%" align="center" style="margin: 0px;">
    <tbody>
      <tr valign="top">
        <td class="incase" valign="top" background="<%=asset_path "emails/bge_greynoise_40x40.gif"%>">
            <%= render 'perc_mailer/layout/header' %>
            <table id="content" cellspacing="0" border="0" cellpadding="0" align="center" width="600">
      				<tbody>
      				  <%= render 'perc_mailer/layout/topcap', :browser_link => @browser_link %>

                <%= content_for?(:email_content) ? yield(:email_content) : yield %>
                
                <%= render 'perc_mailer/layout/btmcap' %>
      				</tbody>
            </table>
            <%= render 'perc_mailer/layout/footer' %>
          </td>
        </tr>
      </tbody>
    </table>
<%- end -%>

<%= render :file => 'layouts/base' %>